{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Transacted</th>
                </tr>
            </thead>
            <tbody>
                {% block body %}
                    {% for history in histories %}
                        <tr>
                            <td>{{history["symbol"]}}</td>
                            <td>{{history["shares"]}}</td>
                            <td>{{history["price"] | usd}}</td>
                            <td>{{history["transacted"]}}</td>
                        </tr>
                    {% endfor %}
                {% endblock %}
            </tbody>
        </table>
    </div>
{% endblock %}